/* light mode */

body {
    background: #DBE2F1;
}

.calculator {
    border: 10px solid #FFF;
    background: #F2F3F7;
}

.screen {
    border: 4px solid #F2F3F7;
    background: #C1D0B5;
    box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.10), -4px -4px 16px 0px #FFF, 4px 4px 16px 0px rgba(0, 0, 0, 0.15) inset, -4px -4px 16px 0px rgba(255, 255, 255, 0.60) inset;
}

#previousInput {
    color: rgba(47, 45, 81, 0.50);
}

#result {
    color: #2F2D51;
}

.action {
    color: rgba(47, 45, 81, 0.60);
    border: 1px solid rgba(255, 245, 208, 0.50);
    background: #FFF5D0;
    box-shadow: 4px 4px 16px 0px rgba(209, 149, 31, 0.20), -4px -4px 16px 0px #FFF, 4px 4px 16px 0px rgba(209, 149, 31, 0.20) inset, -4px -4px 16px 0px rgba(255, 255, 255, 0.60) inset;
}

.action:hover {
    color: #2F2D51;
    border: 1px solid #FFF;
    background: #FFF5D0;
    box-shadow: 4px 4px 16px 0px rgba(209, 149, 31, 0.20) inset, -4px -4px 16px 0px rgba(255, 255, 255, 0.60) inset, 4px 4px 16px 0px rgba(209, 149, 31, 0.20), -4px -4px 16px 0px #FFF;
}

.action:focus-visible {
    outline: none !important;
    color: #2F2D51;
    border: 3px solid #2F2D51;
    background: #FFF5D0;
    box-shadow: 4px 4px 16px 0px rgba(209, 149, 31, 0.20) inset, -4px -4px 16px 0px rgba(255, 255, 255, 0.60) inset, 4px 4px 16px 0px rgba(209, 149, 31, 0.20), -4px -4px 16px 0px #FFF;
}

.action:active {
    color: #2F2D51;
    border: 1px solid #FFF;
    background: #FFF5D0;
    box-shadow: 4px 4px 20px 0px rgba(209, 149, 31, 0.40) inset, -4px -4px 16px 0px rgba(255, 255, 255, 0.20) inset;
}

.number {
    color: rgba(47, 45, 81, 0.60);
    border: 1px solid rgba(242, 243, 247, 0.50);
    background: #F2F3F7;
    box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.10), -4px -4px 16px 0px #FFF, 4px 4px 16px 0px rgba(0, 0, 0, 0.10) inset, -4px -4px 16px 0px rgba(255, 255, 255, 0.60) inset;
}

.number:hover {
    color: #2F2D51;
    border: 1px solid #FFFFFF;
    background: #F2F3F7;
    box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.10), -4px -4px 16px 0px #FFF, 4px 4px 16px 0px rgba(0, 0, 0, 0.10) inset, -4px -4px 16px 0px rgba(255, 255, 255, 0.60) inset;
}

.number:focus-visible {
    outline: none !important;
    color: #2F2D51;
    border: 3px solid #2F2D51;
    background: #F2F3F7;
    box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.10), -4px -4px 16px 0px #FFF, 4px 4px 16px 0px rgba(0, 0, 0, 0.10) inset, -4px -4px 16px 0px rgba(255, 255, 255, 0.60) inset;
}

.number:active {
    color: #2F2D51;
    background: #F2F3F7;
    box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.20) inset, -4px -4px 16px 0px rgba(255, 255, 255, 0.60) inset;
}


.equal {
    color: rgba(255, 255, 255, 0.70);
    border: 1px solid rgba(242, 243, 247, 0.50);
    background: #CE4EAA;
    box-shadow: 4px 4px 16px 0px rgba(206, 78, 170, 0.20), -4px -4px 16px 0px #FFF, 4px 4px 16px 0px rgba(54, 1, 63, 0.20) inset, -4px -4px 16px 0px rgba(255, 255, 255, 0.30) inset;
}

.equal:hover {
    color: #FFF;
    border: 1px solid #FFF;
    background: #CE4EAA;
    box-shadow: 4px 4px 16px 0px rgba(54, 1, 63, 0.20) inset, -4px -4px 16px 0px rgba(255, 255, 255, 0.30) inset, 4px 4px 16px 0px rgba(206, 78, 170, 0.20), -4px -4px 16px 0px #FFF;
}

.equal:focus-visible {
    outline: none !important;
    color: #FFF;
    border: 3px solid #2F2D51;
    background: #CE4EAA;
    box-shadow: 4px 4px 16px 0px rgba(54, 1, 63, 0.20) inset, -4px -4px 16px 0px rgba(255, 255, 255, 0.30) inset, 4px 4px 16px 0px rgba(206, 78, 170, 0.20), -4px -4px 16px 0px #FFF;
}

.equal:active {
    color: #FFF;
    border: 1px solid #FFF;
    background: #CE4EAA;
    box-shadow: 4px 4px 20px 0px rgba(54, 1, 63, 0.30) inset, -4px -4px 16px 0px rgba(255, 255, 255, 0.10) inset;
}
